/**************************************
RESPONSIVE LAYOUT CSS
**************************************/

@font-face {
  font-family: Comfortaa;
  src: url(https://sociamibucket.s3.amazonaws.com/assets/fonts/Comfortaa-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  src: url(https://sociamibucket.s3.amazonaws.com/assets/fonts/Comfortaa-Light.ttf) format('truetype');
  font-weight:lighter;
  font-style: normal;
}

@font-face {
  font-family: Comfortaa;
  src: url(https://sociamibucket.s3.amazonaws.com/assets/fonts/Comfortaa-Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

/*body {
  background-color: rgb( 235, 235, 235 );
}*/

main {
  color: white;
}

#main-content_1 {
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4abfea+0,21a7e5+67 */
  background: rgb(74,191,234); /* Old browsers */
  background-image: -moz-linear-gradient(45deg, rgb( 128, 163, 235 ) 100%, rgb( 155, 207, 204 ) 100%);
  background-image: -webkit-linear-gradient(45deg, rgb( 128, 163, 235 ) 0%, rgb( 155, 207, 204 ) 100%);
  background: linear-gradient(45deg, rgb( 128, 163, 235 ) 0%, rgb( 155, 207, 204 ) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4abfea', endColorstr='#21a7e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  border-radius: 3px;
}