.default-popup-details {
    padding: 40px;
    margin: 0 auto;
    background: rgb(74,191,234); /* Old browsers */
    background-image: -moz-linear-gradient(45deg, rgb( 128, 163, 235 ) 100%, rgb( 155, 207, 204 ) 100%);
    background-image: -webkit-linear-gradient(45deg, rgb( 128, 163, 235 ) 0%, rgb( 155, 207, 204 ) 100%);
    background: linear-gradient(45deg, rgb( 128, 163, 235 ) 0%, rgb( 155, 207, 204 ) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4abfea', endColorstr='#21a7e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 100%;
  }

.default-popup-details img {
    max-width: 50%;
}
  
.default-popup-details .glyphicon {
    position: absolute;
    right: 10px;
    top: 10px;
}
  
.checkbox {
    font-weight: normal;
}