div#iconToggleHolder {
  position: absolute;
  width: 250px;
  right: 111px;
  top: 70px;
  border: none;
  height: 400px;
  padding: 0 10px;
  z-index: 200;
}
#iconToggleSection {
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.26);
}

div#iconToggleSection a:hover {
  text-decoration: none;
}

span.iconToggle-item.list-group-item {
  border: 1px solid #0a0a0a;
  border-radius: 0;
  background-color: #0a0a0a;
  padding: 5px 15px !important;
}

span.iconToggle-item.list-group-item:hover {
  background-color: #1e1e1e;
}
span.iconToggle-item.list-group-item {
  transition: all 0.2s ease-in-out;
}

.iconToggleSection-row{
  display: flex;
  min-height: 40px;
}
.iconToggleSection-row-img{
  border: 2px solid #ffc225;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.iconToggleSection-row-text{
  color: white;
  margin-left: 10px;
  margin-top: 10px;
}

@media (max-width: 480px) {
  div#iconToggleHolder {
    position: absolute;
    right: 0;
    top: 40px;
    z-index: 100;
    width: 100%;
    line-height: 1;
    background: #fff;
  }
  div#iconToggleHolder .list-group::after{
    right: 160px;
    border: 6px solid #000;
    border-color: transparent transparent #ffc700 #ffc700;
  }
  div#iconToggleHolder .list-group:before {
    right: 160px;
    border: 6px solid #000;
    border-color: transparent transparent #0a0a0a #0a0a0a;
  }
}
