.light-theme-wrapper {
  font-family: 'MyriadPro';
  width: 100%;
  float: left;
  padding-top: 101px;
}

.answer-right-iframe {
  width: 100%;
  height: 650px;
  border: none;
}

.light-theme-wrapper.main-bg {
  background: url(https://s3.us-east-2.amazonaws.com/sociamibucket/assets/images/homepage/light-bg.jpg);
}
.light-theme-wrapper .col {
  float: left;
  width: 273px;
}
.light-theme-wrapper .col-middle {
  float: left;
  width: 594px;
  margin: 0 30px;
}
.light-theme-wrapper .col-box-wp {
  border: 1px solid rgb(6, 144, 247);
  box-shadow: 0px 0px 5.53px 1.47px rgba(73, 177, 255, 0.53);
  background: #fff;
  width: 100%;
  float: left;
  margin-bottom: 50px;
  padding: 25px;
  position: relative;
}
.light-theme-wrapper .left-content ul li:nth-child(1) span.icon-wp img,
.light-theme-wrapper .left-content ul li:nth-child(2) span.icon-wp img {
  filter: invert(100%);
}
.light-theme-wrapper .col-middle .top-box-wp {
  border: 2px solid rgb(115, 2, 139);
  box-shadow: 0px 0px 38px 0px rgba(223, 73, 255, 0.67), 0px 0px 11.06px 2.94px rgba(223, 73, 255, 0.3),
    0px 0px 4.74px 1.26px rgba(255, 208, 254, 0.26), 0px 8px 15.52px 0.48px rgba(3, 7, 81, 0.52);
  /* float: left; */
  clear: both;
  position: relative;
  background: #fff;
  width: 100%;
  height: 61px;
  display: table;
  table-layout: fixed;
  margin-bottom: 40px;
}
.light-theme-wrapper .col-middle .top-box-wp .profile-icon {
  border: 2px solid rgb(145, 19, 177);
  border-radius: 50%;
  background-color: rgb(20, 72, 114);
  box-shadow: 0px 0px 8px 0px rgba(222, 108, 255, 0.81), 0px 0px 8px 0px rgba(226, 108, 255, 0.99),
    0px 0px 10px 0px rgba(108, 192, 255, 0.99);
  position: absolute;
  left: -10px;
  top: -22px;
  width: 55px;
  height: 55px;
  z-index: 206;
  overflow: hidden;
}
.light-theme-wrapper .col-middle .top-box-wp .profile-icon img {
  width: 100%;
}
.light-theme-wrapper .col-middle .top-box-wp input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #777777;
  background: transparent;
  border: 0;
  font-size: 16px;
}
.light-theme-wrapper .col-middle .top-box-wp textarea {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  color: #333;
  background: transparent;
  border: 0;
  font-size: 16px;
  border-style: none;
  padding-top: 0.3em;
  padding-left: 3.5em;
  border: none;
  resize: none;
  outline: none;
}

.light-theme-wrapper .col-box-wp .box-icon-exclam{
  height: 22px;
  top: 9px;
  right: 10px;
  z-index: 1;
  position: absolute;
}
.light-theme-wrapper .col-box-wp span.box-icon-exclam img,
.light-theme-wrapper .left-content ul li span.icon-exclam img,
.light-theme-wrapper .box-contain-exclam span.box-icon-exclam img
 {
  width: 5px;
  height: 21px;
}

.light-theme-wrapper .left-content ul li span.icon-exclam {
  height: 22px;
  margin-left: 10px;
  margin-top: -20px;
}


.light-theme-wrapper .box-contain-exclam{
  position: relative;
}
.light-theme-wrapper .box-contain-exclam span.box-icon-exclam {
  height: 22px;
  top: 5px;
  right: 10px;
  z-index: 1;
  position: absolute;
}


.light-theme-wrapper .top-box-wp .link-preview {
  padding: 1em;
  margin-bottom: 1.5em;
  word-wrap: break-word;
}
.light-theme-wrapper .link-preview img {
  width: 100%;
}
.light-theme-wrapper .link-preview .description {
  color: #333;
  margin-bottom: 0.5em;
}
.light-theme-wrapper .link-preview h3.title {
  text-align: left;
  color: #ffc225;
  font-size: 1em;
}
.light-theme-wrapper .my-friends-wp {
  text-align: center;
}
.light-theme-wrapper .col-heading {
  text-align: left;
  color: #ffc225;
  font-size: 16px;
  margin: 0;
}
.light-theme-wrapper img {
  vertical-align: inherit;
}
.light-theme-wrapper .my-friends-wp ul {
  padding: 0;
  margin-top: 5px;
}
.light-theme-wrapper .my-friends-wp ul li {
  float: left;
  margin: 15px 12px 0px;
  list-style: none;
}
.light-theme-wrapper .my-friends-wp ul li .img-wp {
  border: 2px solid rgb(49, 156, 237);
  border-radius: 50%;
  background-color: rgb(20, 72, 114);
  box-shadow: 0px 0px 4px 0px rgba(108, 192, 255, 0.81), 0px 0px 4px 0px rgba(108, 192, 255, 0.99),
    0px 0px 8px 0px rgba(108, 192, 255, 0.99);
  width: 48px;
  height: 49px;
  float: left;
  overflow: hidden;
  margin-bottom: 6px;
}
.light-theme-wrapper .my-friends-wp ul li .img-wp img {
  width: 100%;
}
.light-theme-wrapper .my-friends-wp ul li p {
  color: #222222;
  font-size: 12px;
  margin: 0;
}
.light-theme-wrapper .my-photos-wp ul {
  padding: 0;
  margin-top: -5px;
}
.light-theme-wrapper .my-photos-wp ul li {
  width: 101px;
  height: 90px;
  float: left;
  list-style: none;
  overflow: hidden;
  margin: 22px 0 0 0;
}
.light-theme-wrapper .my-photos-wp ul li img {
  width: 100%;
}
.light-theme-wrapper .my-photos-wp ul li:nth-child(2n) {
  float: right;
}
.light-theme-wrapper .main-comment-box {
  position: relative;
}
.light-theme-wrapper .main-comment-box p {
  color: #222;
  margin: 0;
  font-size: 15px;
}
.light-theme-wrapper .main-comment-box .img-box {
  position: relative;
  left: -41px;
  width: 625px;
  margin: 22px 0;
  float: left;
}
.light-theme-wrapper .main-comment-box h4 {
  margin: 0 0 15px 0;
  color: #ffb321;
  font-size: 20px;
}
.light-theme-wrapper .main-comment-box .bot-wp .likewp {
  padding: 10px 0;
  border-top: 1px solid #272727;
  border-bottom: 1px solid #272727;
  margin: 14px 0;
  float: left;
  width: 100%;
  color: #9e9e9e;
  font-size: 13px;
}
.light-theme-wrapper .main-comment-box .bot-wp .likewp .comments-txt {
  float: right;
}
.light-theme-wrapper .main-comment-box .bot-wp .likewp .thum-like {
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(23, 140, 230) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(23, 140, 230) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(23, 140, 230) 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 139, 226, 0.68);
  display: inline-block;
  margin-right: 7px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  padding: 3px;
  width: 20px;
  height: 20px;
}
.light-theme-wrapper .main-comment-box .bot-wp .input-wp {
  float: left;
  width: 100%;
  position: relative;
}
.light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed {
  position: relative;
  float: left;
  width: 85%;
  border-radius: 50px;
  height: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 6px 0px rgba(37, 37, 37, 0.31);
}
.light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed input {
  box-shadow: none;
  border: 0;
  padding: 0 15px;
  font-weight: 100;
  width: 100%;
  border-radius: 50px;
  height: 30px;
}
.light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed a.camera-icon {
  color: #777;
  position: absolute;
  top: 6px;
  right: 15px;
  font-size: 18px;
}
.light-theme-wrapper .main-comment-box .img-box img {
  width: 100%;
  vertical-align: top;
}
.light-theme-wrapper .main-comment-box .top-head .profile-icon {
  border: 2px solid rgb(49, 156, 237);
  border-radius: 50%;
  background-color: rgb(20, 72, 114);
  box-shadow: 0px 0px 4px 0px rgba(108, 192, 255, 0.81), 0px 0px 4px 0px rgba(108, 192, 255, 0.99),
    0px 0px 8px 0px rgba(108, 192, 255, 0.99);
  width: 41px;
  height: 41px;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
.light-theme-wrapper .main-comment-box .top-head .profile-icon img {
  width: 100%;
}
.light-theme-wrapper .main-comment-box .top-head .date {
  float: right;
  color: #222;
}
.light-theme-wrapper .main-comment-box .top-head {
  height: 41px;
  float: left;
  width: 100%;
  margin-bottom: 5px;
  line-height: 41px;
}
.light-theme-wrapper .games-network-wp ul {
  padding: 0;
  margin: 0;
}
.light-theme-wrapper .games-network-wp ul li {
  margin-top: 14px;
  list-style: none;
  height: 33px;
  float: left;
  width: 100%;
  line-height: 33px;
}
.light-theme-wrapper .games-network-wp ul li .helf-wp {
  width: 50%;
  float: left;
}
.light-theme-wrapper .games-network-wp ul li .img-wp-box {
  border: 2px solid rgb(49, 156, 237);
  border-radius: 50%;
  background-color: rgb(20, 72, 114);
  box-shadow: 0px 0px 4px 0px rgba(108, 192, 255, 0.81), 0px 0px 4px 0px rgba(108, 192, 255, 0.99),
    0px 0px 8px 0px rgba(108, 192, 255, 0.99);
  width: 33px;
  height: 33px;
  float: left;
  overflow: hidden;
}
.light-theme-wrapper .games-network-wp ul li .img-wp-box img {
  width: 100%;
  vertical-align: inherit;
}
.light-theme-wrapper .games-network-wp ul li .per-b {
  float: left;
  border: 1px solid rgb(170, 170, 170);
  width: 4px;
  height: 8px;
  margin-left: 2px;
  border-radius: 2px;
  margin-top: 12px;
}
.light-theme-wrapper .games-network-wp ul li .per-b.active {
  background-image: -moz-linear-gradient(
    -90deg,
    rgb(244, 183, 37) 0%,
    rgb(255, 197, 40) 28%,
    rgb(242, 145, 3) 100%
  );
  background-image: -webkit-linear-gradient(
    -90deg,
    rgb(244, 183, 37) 0%,
    rgb(255, 197, 40) 28%,
    rgb(242, 145, 3) 100%
  );
  background-image: -ms-linear-gradient(
    -90deg,
    rgb(244, 183, 37) 0%,
    rgb(255, 197, 40) 28%,
    rgb(242, 145, 3) 100%
  );
  box-shadow: 0px 0px 3px 0px rgba(214, 162, 23, 0.81);
  border: 0;
}
.light-theme-wrapper .games-network-wp ul li .helf-wp .head-text {
  font-size: 12px;
  color: #222;
  font-weight: 100;
  margin-left: 6px;
  height: 32px;
  float: left;
  width: 70px;
  overflow: hidden;
}
.light-theme-wrapper .games-network-wp ul li .helf-wp .rp-txt {
  font-size: 12px;
  float: right;
  color: #ffc225;
}
.light-theme-wrapper .bg-right-team {
  background: #fff;
}

.light-theme-wrapper .custom-select {
  position: relative;
  margin-top: 9px;
}
.light-theme-wrapper .custom-select select {
  display: none;
}
.light-theme-wrapper .select-selected:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(0, 105, 186) transparent transparent transparent;
}
.light-theme-wrapper .select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(0, 105, 186) transparent;
  top: 7px;
}
.light-theme-wrapper .select-items div,
.light-theme-wrapper .select-selected {
  color: #222;
  padding: 4px 7px;
  border: 2px solid rgb(0, 105, 186);
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  font-weight: 600;
  margin-top: -2px;
  position: relative;
}
.light-theme-wrapper .select-items {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  background: #fff;
}
.light-theme-wrapper .select-hide {
  display: none;
}
.light-theme-wrapper .select-items div:hover,
.light-theme-wrapper .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.light-theme-wrapper .col-middle .buttons-wp {
  position: absolute;
  bottom: -14px;
  right: 10px;
  height: 33px;
}
.light-theme-wrapper .col-middle .buttons-wp ul {
  padding: 0;
  margin: 0;
}
.light-theme-wrapper .col-middle .buttons-wp ul li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}
.light-theme-wrapper .col-middle .icon-white {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  color: #000;
  background-image: -moz-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(23, 140, 230) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(23, 140, 230) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(23, 140, 230) 100%);
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.51), 0px 0px 8px 0px rgba(255, 255, 255, 0.51);
  padding-top: 7px;
  background: #edf1fa;
}
.light-theme-wrapper .col-middle .icon-white.icon-purpal {
  background-image: -moz-linear-gradient(90deg, rgb(46, 1, 57) 0%, rgb(139, 0, 173) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(46, 1, 57) 0%, rgb(139, 0, 173) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(46, 1, 57) 0%, rgb(139, 0, 173) 100%);
  opacity: 0.949;
  box-shadow: 0px 0px 15px 0px rgba(229, 3, 249, 0.68), 0px 0px 15px 0px rgba(177, 3, 249, 0.68),
    0px 0px 15px 0px rgba(177, 3, 249, 0.68);
}
.light-theme-wrapper .col-middle .icon-white.icon-purpal i {
  color: #fff;
  transform: rotate(50deg);
}
.light-theme-wrapper .col-middle .icon-white.icon-blue {
  background-image: -moz-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(23, 140, 230) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(23, 140, 230) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(23, 140, 230) 100%);
  box-shadow: 0px 0px 10px 0px rgba(0, 139, 226, 0.9);
  color: #fff;
}
.light-theme-wrapper .col-middle .icon-white.text-blue {
  color: #0773c6;
}
.light-theme-wrapper .col-middle .bot-share-btns {
  float: right;
}
.light-theme-wrapper .col-middle .bot-share-btns ul {
  padding: 0;
  margin: 0;
}
.light-theme-wrapper .col-middle .bot-share-btns ul li {
  float: left;
  list-style: none;
  margin-right: 5px;
  font-size: 15px;
}
.light-theme-wrapper .Upcoming-Team-Quests-wp ul {
  padding: 0;
  margin: 7px 0 0px 0;
}
.light-theme-wrapper .Upcoming-Team-Quests-wp ul li {
  list-style: none;
  border-top: 1px solid #c6c6c6;
  padding: 7px 0 4px;
  position: relative;
  width: 100%;
  height: 60px;
  overflow: hidden;
}
.light-theme-wrapper .Upcoming-Team-Quests-wp ul li:last-child {
  border-bottom: 1px solid #c6c6c6;
}
.light-theme-wrapper .Upcoming-Team-Quests-wp ul li p {
  margin: 0;
  font-size: 12px;
  color: #222;
  font-weight: 200;
  padding-right: 35px;
}
.light-theme-wrapper .Upcoming-Team-Quests-wp ul li .plus-icon {
  border-radius: 50%;
  background-image: -moz-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(83, 180, 255) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(83, 180, 255) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(0, 104, 183) 0%, rgb(83, 180, 255) 100%);
  opacity: 0.949;
  box-shadow: 0px 0px 5px 0px rgba(3, 154, 249, 0.68), 0px 0px 5px 0px rgba(3, 154, 249, 0.68);
  width: 18px;
  height: 18px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  position: absolute;
  top: 15px;
  right: 3px;
}
.light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed input::-webkit-input-placeholder {
  /* Chrome */
  color: #777777;
}
.light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed input:-ms-input-placeholder {
  /* IE 10+ */
  color: #777777;
}
.light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed input::-moz-placeholder {
  /* Firefox 19+ */
  color: #777777;
  opacity: 1;
}
.light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed input:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #777777;
  opacity: 1;
}
span.new-img-icon-head {
  border: 2px solid #ffc225;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: inline-block;
  overflow: hidden;
  position: relative;
  top: 5px;
}
span.new-img-icon-head img {
  width: 100%;
}
.light-theme-wrapper .left-content ul {
  margin: 0;
  padding: 0;
}
.light-theme-wrapper .left-content ul li {
  color: #d8d8d8;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  float: left;
  margin-top: 17px;
  margin-bottom: 2px;
  padding: 0 25px;
}
.light-theme-wrapper .left-content ul li:last-child {
  margin-bottom: 15px;
}
.light-theme-wrapper .left-content ul li a {
  color: #000;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.light-theme-wrapper .left-content ul li span.icon-wp {
  float: left;
  margin-right: 22px;
}
.light-theme-wrapper .p-0 {
  padding: 0 !important;
}
.light-theme-wrapper .left-content ul li.drop-down {
  border-top: 1px solid #383838;
  border-bottom: 1px solid #383838;
  background: #1e1e1e;
  padding-top: 18px;
  padding-bottom: 0;
}
.light-theme-wrapper .left-content ul li.drop-down ul {
  position: relative;
  top: -15px;
}
.light-theme-wrapper .left-content ul li.drop-down ul li {
  text-transform: capitalize;
  margin: 0 22px 0px 22px;
  height: 32px;
}
.light-theme-wrapper .left-content ul li.drop-down ul li a {
  color: #686868;
  text-decoration: none;
}
.light-theme-wrapper .left-content ul li.drop-down ul li a:hover {
  color: #fff;
}
.light-theme-wrapper .left-content .top-head .icon {
  border: 2px solid rgb(145, 19, 177);
  border-radius: 50%;
  background-color: rgb(20, 72, 114);
  box-shadow: 0px 0px 8px 0px rgba(222, 108, 255, 0.81), 0px 0px 8px 0px rgba(226, 108, 255, 0.99),
    0px 0px 10px 0px rgba(108, 192, 255, 0.99);
  width: 34px;
  height: 34px;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
.light-theme-wrapper .left-content .top-head {
  padding-bottom: 18px;
  border-bottom: 1px solid #383838;
  margin: 14px 21px 0;
  display: block;
  line-height: 36px;
}
.light-theme-wrapper .left-content ul li.drop-down a {
  color: #9b01aa;
  line-height: 40px;
}
.light-theme-wrapper .left-content .top-head .icon img {
  width: 100%;
}
.light-theme-wrapper .left-content .top-head .col-heading {
  text-align: left;
  color: #9601a3;
  font-size: 16px;
  margin: 0;
  display: inline-block;
}
.light-theme-wrapper a.purpal-text-link {
  color: #d01fe5;
  font-size: 14px;
  float: right;
}
.light-theme-wrapper .box-bottom-right-col {
  float: left;
  width: 100%;
  padding: 19px 15px;
  background: #fff;
  border-top: 1px solid #0069be;
  color: #000;
}
.light-theme-wrapper .left-arrow {
  float: left;
}
.light-theme-wrapper .right-arrow {
  float: right;
}
.light-theme-wrapper .box-bottom-right-col span.txt {
  padding: 0 5px;
  font-size: 12px;
}
.light-theme-wrapper .box-bottom-right-col p {
  margin-bottom: 0;
}
.light-theme-wrapper .next-previous-icons {
  position: absolute;
  font-size: 14px;
  width: 100%;
  padding: 0 20px;
  top: -4px;
  left: 0;
  color: #ffc225;
}
.light-theme-wrapper .next-previous-icons .left-arrow,
.light-theme-wrapper .next-previous-icons .right-arrow {
  cursor: pointer;
}
.l-h40 {
  height: 43px;
  line-height: 40px;
}
.ml-fixed {
  margin-left: 303px !important;
}
.fixed-wp {
  position: fixed;
}
.line-devider {
  background: #383838;
  height: 1px;
  width: 100%;
  float: left;
  margin: 7px 0;
}
.light-theme-wrapper .black-box {
  border: 1px solid rgb(6, 144, 247);
  box-shadow: 0px 0px 5.53px 1.47px rgba(73, 177, 255, 0.53);
  background: #fff;
  width: 100%;
  float: left;
  margin-bottom: 30px;
  padding: 25px;
  position: relative;
}
.light-theme-wrapper.profile-wrapper .theme-box-right,
.light-theme-wrapper.profile-wrapper .theme-box-right .box,
.light-theme-wrapper.profile-wrapper .top-wp {
  background: #fff;
}
.light-theme-wrapper.profile-wrapper .theme-box-right .box .fot-wp,
.light-theme-wrapper.profile-wrapper .intro-wp .editbtn,
.light-theme-wrapper.profile-wrapper .intro-wp ul,
.light-theme-wrapper.profile-wrapper .top-wp .clf h3,
.light-theme-wrapper.profile-wrapper .top-wp .middle-edit a,
.light-theme-wrapper.profile-wrapper .top-wp .last-right p {
  color: #000;
}
.light-theme-wrapper.profile-wrapper .top-wp .last-right .btn-send,
.light-theme-wrapper.profile-wrapper .top-wp .last-right .btn-follow {
  background: #ccc;
}
.light-theme-wrapper .btn-lavel-yellow:hover,
.light-theme-wrapper .blue-rounded-btn:hover {
  border-color: #000 !important;
  color: #000;
}
input:focus {
  outline: 0;
}
/*---------Settings pages css---------*/
.light-theme-wrapper.settings-wrapper .devider-box {
  color: #000;
  border-bottom: 1px solid #d2d2d2;
}
.light-theme-wrapper.settings-wrapper .devider-box:last-child {
  border-bottom: 0;
}
.light-theme-wrapper.settings-wrapper .custom-select {
  float: left;
  min-width: 178px;
}
/*-----End-----*/
/*-----Start My challenges -----*/
.light-theme-wrapper.mychallenges-wrapper .col-middle table tr th,
.light-theme-wrapper.mychallenges-wrapper .col-middle table tr td,
.light-theme-wrapper.mychallenges-wrapper .col-middle h3,
.light-theme-wrapper.mychallenges-wrapper .col-middle .pur-btn,
.light-theme-wrapper.mychallenges-wrapper .col-middle .top-head .col-heading,
.light-theme-wrapper.mychallenges-wrapper .col-middle .bot-warp {
  color: #000;
}
.light-theme-wrapper.mychallenges-wrapper .col-middle .yellow-btn:hover,
.light-theme-wrapper.mychallenges-wrapper .col-middle .pur-btn:hover {
  border-color: #000;
  color: #000;
}
.light-theme-wrapper.mychallenges-wrapper .col-middle .black-bg {
  background: #fff;
}
.light-theme-wrapper.mychallenges-wrapper .col-middle .form-control,
.light-theme-wrapper.mychallenges-wrapper .col-middle .select-selected,
.light-theme-wrapper.mychallenges-wrapper .col-middle .select-items,
.light-theme-wrapper.mychallenges-wrapper .col-middle .select-items div {
  background: #efefef;
}
.light-theme-wrapper.mychallenges-wrapper .col-middle .top-heading,
.light-theme-wrapper.mychallenges-wrapper .col-middle h3.yellow-text {
  color: #000 !important;
}
.light-theme-wrapper.mychallenges-wrapper .col-middle .yellow-btn,
.light-theme-wrapper.mychallenges-wrapper .col-middle .pur-btn {
  border-color: #0069ba;
  color: #0069ba;
}
/*------End------*/
/*--------Start stories section css---------*/
.light-theme-wrapper.stories-wrapper .col-middle .col-box-wp {
  background: #fff;
}
.light-theme-wrapper.stories-wrapper .col-middle .col-box-wp .px-15 {
  padding: 0 15px;
}
.light-theme-wrapper.stories-wrapper .col-middle .col-box-wp p {
  color: #000;
}
.light-theme-wrapper.stories-wrapper .col-middle .col-box-wp p.graylight {
  color: #5d5e72;
}
/*----------Start Company page-----------*/
.light-theme-wrapper .company-middle-wrapper .top-sec-wp .box-wp ul li, .light-theme-wrapper .company-middle-wrapper .top-sec-wp .box-wp ul li a{
  color: #000;
}
.light-theme-wrapper .company-middle-wrapper .company-new-filed input {
  background: transparent;
  border: 1px solid #ccc;
  color: #000;
}
.light-theme-wrapper .company-middle-wrapper .company-new-filed .close-new-company{
  color: #000;
}
/*-------------Start Achievements -------------*/
.light-theme-wrapper .achievements-wrapper h2, .light-theme-wrapper .achievements-wrapper .bottom-box ul li h4 {
  color: #000;
}
.light-theme-wrapper .achievements-wrapper .prograss{
  border-color: #000;
}
.light-theme-wrapper .achievements-wrapper .btn-lavel-yellow {
  color: #000;
  border-color: #000;
}
.light-theme-wrapper .achievements-wrapper .top-box, .light-theme-wrapper .achievements-wrapper .bottom-box ul li{
  background: #fff;
}
.light-theme-wrapper .achievements-left-wap-links li:after{
  border-color: #000;
}
/*-----------End----------------*/
/*Start Responsive css*/
@media (min-width: 992px) {
  .light-theme-wrapper {
    min-height: 100vh;
  }
}
@media (min-width: 1920px) {
  .light-theme-wrapper {
    background-size: cover;
    position: absolute;
    min-height: 100vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .light-theme-wrapper .col-middle {
    width: 42%;
    margin: 0 5px;
  }
  .light-theme-wrapper .col {
    width: 27%;
  }
  .light-theme-wrapper .main-comment-box .img-box {
    left: 0;
    width: 100%;
    transform: scale(1.2);
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .light-theme-wrapper {
    padding-right: 15px;
    padding-left: 15px;
    background-size: cover;
  }
  .light-theme-wrapper .col {
    width: auto;
    margin: 0 30px;
    display: block;
  }
  .light-theme-wrapper .col-middle {
    width: 89%;
  }
  .light-theme-wrapper .main-comment-box .img-box {
    width: 100%;
    margin: 15px 0;
    position: relative;
    left: auto;
  }
  .light-theme-wrapper .col-box-wp {
    padding: 15px;
  }
  .light-theme-wrapper .col-middle .buttons-wp {
    bottom: -20px;
  }
  .light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed {
    width: 70%;
  }
  .light-theme-wrapper .my-photos-wp ul {
    text-align: center;
  }
  .light-theme-wrapper .my-photos-wp ul li {
    float: none;
    margin-right: 22px;
    display: inline-block;
  }
  .light-theme-wrapper .my-photos-wp ul li:nth-child(2n) {
    float: none;
  }
  .fixed-wp {
    position: relative;
  }
  .ml-fixed {
    margin-left: 30px !important;
  }
  /*------Start my challenges -------*/
  .mychallenges-wrapper.light-theme-wrapper .col-middle {
    width: 92%;
  }
}
@media (min-width: 992px) and (max-width: 1440px) {
  .light-theme-wrapper .left-content ul li {
    margin-top: 5px !important;
  }
  .light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed {
    width: 77%;
  }
}
@media (max-width: 767px) {
  .light-theme-wrapper {
    padding-right: 15px;
    padding-left: 15px;
    background-size: cover;
  }
  .light-theme-wrapper .col {
    width: auto;
    margin: 0 30px;
  }
  .light-theme-wrapper .col-middle {
    width: auto;
  }
  .light-theme-wrapper .main-comment-box .img-box {
    width: 100%;
    margin: 15px 0;
    position: relative;
    left: auto;
  }
  .light-theme-wrapper .col-box-wp {
    padding: 15px;
  }
  .light-theme-wrapper .col-middle .buttons-wp {
    bottom: -20px;
  }
  .light-theme-wrapper .main-comment-box .bot-wp .input-wp .input-filed {
    width: 70%;
  }
  .light-theme-wrapper .my-photos-wp ul {
    text-align: center;
  }
  .light-theme-wrapper .my-photos-wp ul li {
    float: none;
    margin-right: 22px;
    display: inline-block;
  }
  .light-theme-wrapper .my-photos-wp ul li:nth-child(2n) {
    float: none;
  }
  span.new-img-icon-head {
    width: 22px;
    height: 22px;
  }
  
  img.achievement-badge-icon {
    width: 100%;
    height: 100%;
  }

  .fixed-wp {
    position: relative;
  }
  .ml-fixed {
    margin-left: 30px !important;
  }
  /*------Start my challenges -------*/
  .mychallenges-wrapper.light-theme-wrapper .col-middle {
    width: 85%;
  }
}
