#organizer-list {
    border: 1px solid white;
    padding-left: 5px;
    padding-right: 5px;
    height: 100px;
    overflow-y: auto;
}

#organizer-list ul {
    padding: 0;
}

.organizer-action-link {
    color: white;
    padding-left: 5px;
    padding-right: 5px;
}

.organizer-action-link-disabled {
    color: rgba(77, 77, 77, 0.377);
    padding-left: 5px;
    padding-right: 5px
}

#organizer-list, #organizer-status-box {
    margin-bottom: 10px;
}