<!doctype html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https:////maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

      <!-- Twilli Air files -->
    <!-- favicon -->
    <link rel="icon" type="image/png" href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/images/other_images/favicon.png">
    
        <!-- Bootstrap theme -->
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/bootstrap/css/bootstrap-theme.min.css" rel="stylesheet">
        <!-- vegas bg -->
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/vegas/jquery.vegas.min.css" rel="stylesheet">
        <!-- owl carousel css -->
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/owl-carousel/owl.carousel.css" rel="stylesheet">
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/owl-carousel/owl.theme.css" rel="stylesheet">
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/owl-carousel/owl.transitions.css" rel="stylesheet">
        <!-- intro animations -->
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/wow/animate.css" rel="stylesheet">
        <!-- font awesome -->
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <!-- lightbox -->
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/lightbox/css/lightbox.css" rel="stylesheet">
    
        <!-- styles for this template -->
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/css/styles.css" rel="stylesheet">
    
        <!-- place your extra custom styles in this file -->
        <link href="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/css/custom.css" rel="stylesheet">

    <!-- *****************************-->

  </head>
  <body data-default-background-img="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/images/other_images/bg5.jpg" data-overlay="true" data-overlay-opacity="0.35">
    <div id='root'>
    </div>

    <!-- Javascripts
    ================================================== -->
<!-- Twilli Air files -->
    <!-- Jquery and Bootstrap JS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/bootstrap/js/bootstrap.min.js"></script>

    <!-- Easing - for transitions and effects -->
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/jquery.easing.1.3.js"></script>

    <!-- background image strech script -->
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/vegas/jquery.vegas.min.js"></script>

    <!-- detect mobile browsers -->
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/detectmobilebrowser.js"></script>

    <!-- detect scrolling -->
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/jquery.scrollstop.min.js"></script>

    <!-- owl carousel js -->
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/owl-carousel/owl.carousel.min.js"></script>

    <!-- lightbox js -->
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/lightbox/js/lightbox.min.js"></script>

    <!-- intro animations -->
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/wow/wow.min.js"></script>

    <!-- responsive videos -->
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/jquery.fitvids.js"></script>

    <!-- Custom functions for this theme -->
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/functions.js"></script>
    <script src="http://sociamibucket.s3.amazonaws.com/twilli_air/assets/js/initialise-functions.js"></script>

    <!-- IE9 form fields placeholder fix -->
    <!--[if lt IE 9]>
    <script>contact_form_IE9_placeholder_fix();</script>
    <![endif]-->  
    <!-- *****************************-->

  </body>
</html>
